body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#movieList, #recommendations {
    padding: 20px;
}